/*body {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}*/
body {
    background-image:	
    -webkit-linear-gradient(45deg,
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0.00) 75%
    ),
    -webkit-linear-gradient(-45deg, 
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0.00) 75%
    ),
    -webkit-linear-gradient(45deg,
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0.00) 75%
    ),
    -webkit-linear-gradient(-45deg, 
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0.00) 75%
    ),
    -webkit-linear-gradient(90deg, #7673F9, #ffffff)
    ;
    background-image:	
    -moz-linear-gradient(45deg,
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0.00) 75%
    ),
    -moz-linear-gradient(-45deg, 
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0.00) 75%
    ),
    -moz-linear-gradient(45deg,
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0.00) 75%
    ),
    -moz-linear-gradient(-45deg, 
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0.00) 75%
    ),
    -moz-linear-gradient(90deg, #7673F9, #ffffff)
    ;
    background-image:	
    -ms-linear-gradient(45deg,
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0.00) 75%
    ),
    -ms-linear-gradient(-45deg, 
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0.00) 75%
    ),
    -ms-linear-gradient(45deg,
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0.00) 75%
    ),
    -ms-linear-gradient(-45deg, 
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0.00) 75%
    ),
    -ms-linear-gradient(90deg, #7673F9, #ffffff)
    ;
    background-image:	
    -o-linear-gradient(45deg,
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0.00) 75%
    ),
    -o-linear-gradient(-45deg, 
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0.00) 75%
    ),
    -o-linear-gradient(45deg,
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0.00) 75%
    ),
    -o-linear-gradient(-45deg, 
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0.00) 75%
    ),
    -o-linear-gradient(90deg, #7673F9,#f73b3b )
    ;
    background-image:	
    linear-gradient(45deg,
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0.00) 75%
    ),
    linear-gradient(-45deg, 
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0.00) 75%
    ),
    linear-gradient(45deg,
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0.00) 75%
    ),
    linear-gradient(-45deg, 
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    rgba(0, 0, 0, 0.00) 75%
    ),
    linear-gradient(90deg, #2B2D42, #8d99ae)
    ;
    background-position: 0 0, 0 0, 80px 50px, 80px 50px, 0 0;                                                         
    -moz-background-size: 160px 50px, 160px 50px,160px 50px, 160px 50px, 100%;                                           
    background-size: 160px 50px, 160px 50px,160px 50px, 160px 50px, 100%;
}

/*logo*/
#logo {background-color:#EDF2f4; padding:15px; border:5px solid #000; height:auto;width:auto;max-width:100%;margin:auto;display:block;}
#logo_top {background-image:url("http://www.donsgarageocala.com/wp-content/uploads/dons-garage-in-ocala-slider-6.jpg"); background-size:cover; padding:40px; height:auto; width:auto;}

/* ANCHORS */
a, a:visited {text-decoration: none; }
a:hover {text-decoration: underline;}

/* NAVBAR */
#navWrap{height:47px;}
#nav{padding:0;border-top:2px solid #EDF2F4;background-size:cover;background:linear-gradient(to bottom, rgba(40,41,60,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;}
#nav ul{list-style:none; margin:0; padding:0; overflow:hidden;text-align:center; width:100%;}
#nav li{/*padding:3px 8px; margin:0 10px 0 0; list-style-type:none;*/ display:inline;}
#nav li a{display:inline-block; color:#EDF2F4; text-align:center; text-decoration:none;padding:14px 16px;text-shadow: 1px 1px 0px rgba(43, 45, 66, 1);} 
#nav li a:hover:not(.active){background-color:#646675;text-decoration:underline;}

/*SERVICE_LANDING*/
#service_landing{padding:10px;float:left;}
#service_description{font-family:Tahoma, Verdana, sans-serif;}
.left_column{float:left;width:25%;}
.right_column{float:right;width:70%;}

#about_us_landing{padding:10px;float:left;}
#hours_landing{padding:10px;float:left;text-align:center;}
#hours{text-align:left;}
#contact_landing{padding:10px;float:left;}
#footer_info{padding:10px;clear:both;}
#map_wrap{clear:both;}
#contact_map {
    height:400px;
    width:100%;
}
